:root {
    --tileSize: 65px;
}

body {
    background-color: #c9c9c9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile {
    width: var(--tileSize);
    height: var(--tileSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #b58863;
}

.light {
    background-color: #f0d9b5;
}

.highlight {
    background-color: red;
}

.board {
    display: flex;
    flex-flow: row wrap;
    width: calc(var(--tileSize) * 8);
    width: 520px;
}

.info {
    font-size: 20px;
}